.field {
    min-width: 300px;
    max-height: 95vh;
}

.initial-state {
    transform: rotateX(0deg);
    transition: transform 0.8s ease;
}

.tilted-state {
    transform: perspective(1000px) rotateX(15deg);
}

.box {
    min-width: 400px;
}

.detail__player_name {
    font-size: clamp(35px, 5vw, 48px);
}

@media (max-width: 1024px) {
    .players {
        display: none;
    }
}