.field {
    min-width: 300px;
    max-width: 650px;
}

/* ロード時のフィールドのアニメーション */
.initial-state {
    transform: rotateX(0deg);
    transition: transform 0.8s ease;
}

.tilted-state {
    transform: perspective(1000px) rotateX(10deg);
}