/* ロード時のプレイヤーのアニメーション */
.zoomIn {
    position: relative;
    animation: zoomIn 1s ease-in-out forwards;
}

@keyframes zoomIn {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
}

.player:hover {
    @apply duration-100 transform scale-125;
}

@media (max-width: 1024px) {
    .players {
        display: none;
    }
}